OPENAI_API_KEY=sk-or-v1-your-key
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_MODEL=openai/gpt-4o-mini

GRPC_PORT=50052
LOG_LEVEL=INFO

DATABASE_URL=postgres://postgres:postgres@localhost:5432/ai_db?sslmode=disable

USER_SERVICE_ADDR=localhost:50053
NUTRITION_SERVICE_ADDR=localhost:50051
WORKOUT_SERVICE_ADDR=localhost:50054
